


<table>
	<thead>
	<tr><!---->
		<th>이름</th>
		<th>학교</th>
		<th>학과</th>
	</tr>
	
	
	<%@professors.each do |p|%>
		<tr>	
			<td><%=p.name%></td>
			<td><%=p.college%></td>
			<td><%=p.major%></td>
		</tr>
	<%end%>
		
	
</table>

