<h2>Sign up</h2>


<form action="" method="post">
  <div class="flexer">
    <div class="box">
      <div class="field">
        이메일
        <input type = "text" >
      </div>
      
      <div class="field">
        이름
        <input type = "text" >
      </div>
      
      <div class="field">
        학교
        <input type = "text" >
      </div>
      
      <div class="field">
        학과
        <input type = "text" >
      </div>
      
    
      <div class="field">
        비밀번호
        <input type = "text" >
      </div>
    
      <div class="field">
        비밀번호 확인
        <input type = "text" >
      </div>
    
      <div class="actions">
        <button>Sign Up</button>
      </div>
    </div>
  </div>

</form>

