
<form action ="/home/create_score" method="POST">
    출석
    <input type="text" name="attend">
    <br>
    수면제<input type="text" name="sleep"> 
    <br>
    강의방식<input type="text" name="lect_sys"> 
    <br>
    과제빈도<input type="text" name="hw_fre">
    <br>
    과제난이도<input type="text" name="hw_lvl"> 
    <br>
    퀴즈빈도<input type="text" name="qz_fre"> 
    <br>
    퀴즈난이도<input type="text" name="qz_lvl"> 
    <br>
    시험족보유무<input type="text" name="tst_jjok">
    <br>
    시험난이도<input type="text" name="tst_lvl">
    <input type="hidden" name="pro_id" value="<%=@pro%>">
    
    <br>
        	<input type="submit" >
    <br>
</form>
