출석방식
<form action ="/home/create_score" method="POST">
    이 름 <input type="text" name="attend">
    <br></br>
    수면제<input type="text" name="sleep"> 
    <br></br>
    강의방식<input type="text" name="lect_sys"> 
    <br></br>
    과제빈도<input type="text" name="hw_fre">
    <br></br>
    과제난이도<input type="text" name="hw_lvl"> 
    <br></br>
    퀴즈빈도<input type="text" name="qz_fre"> 
    <br></br>
    퀴즈난이도<input type="text" name="attend"> 
    <br></br>
    시험족보유무<input type="text" name="attend">
    <br></br>
    시험난이도<input type="text" name="attend">
    <br></br>
        	<input type="submit" >
    <br></br>	
</form>
    	