
<form action ="/home/create_pro" method="POST">
    이름 : <input type="text" name="name"> <br>
    대학 : <input type="text" name="college"> <br>
    학과 : <input type="text" name="major"> <br>
    <input type="submit" >
    
</form>